/*Grid Layout*/
body {
    background-image: linear-gradient(-45deg,
    red, orange, orangered, red, darkorange, yellow, orangered, red);
    background-size: 200% 200%;
    animation: 30s LavaGradient ease infinite;

    display:grid;
    grid-template-rows: auto auto 3fr;
    grid-template-areas:
            "nav"
            "header"
            "main";
}
nav {
    grid-area: nav;

    background-color: greenyellow;
}

header {
    grid-area: header;

    color: black;
    font-size: 18px;
    align-content: center;
    align-items: center;
    text-align: center;
}

main {
    grid-area: main;

    color: black;
    margin: auto;
    align-content: center;
    align-items: center;
    text-align: center;
}



/*Lava Movement Background*/
@keyframes LavaGradient {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}

/*Table design*/
table {
    align-content: center;
    align-items: center;
    text-align: center;
}

.image_box_size {
    height: 200px;
    width: 355px;
}

figure {
    margin: 0;
}