body {
    background-image: url("img/index_end_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

#container {
    display: grid;
    height: 600px;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: auto 150px 150px 150px 150px;
    grid-template-areas:"nav nav nav nav"
                        ". header header ."
                        ". section_1 section_2 ."
                        ". section_3 section_4 ."
                        ". section_5 section_6 .";
}
nav{
    grid-area: nav ;
}
header{
    grid-area: header;
    align-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid black;
    background-image: url("img/end_stone_background.png");
    margin: 30px 30px 30px 30px;


}
h2{
    font-size: 50px;
    margin-top: 13px;
}


.Menu_button{
    align-content: center;
    align-items: center;
    text-align: center;
    border: black solid 3px;
    background-image: url("img/end_stone_background.png");
    margin: 50px 50px 50px 50px;
    font-size: 25px;
}
#Mobs{
    grid-area: section_1;
}

#Blocks{
    grid-area: section_2;
}
#Food{
    grid-area: section_3;
}
#Items{
    grid-area: section_4;
}
#Bioms{
    grid-area: section_5;
}
#Structures{
    grid-area: section_6;
}
