body {
    background-image: url("img/background_end_chest.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    grid-template-columns:repeat(9, 1fr);
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    height: 800px;
    grid-template-areas:
            "nav nav nav nav nav nav nav nav nav"
            "header header header header header header header header header"
            ". . . . chorus_fruit . . . .";
}
header{
    grid-area: header;
    text-align: center;
    font-size: 50px;
}
nav {
    grid-area: nav;
}
.borders{
    border: groove black 10px;
    background-color: gray;
}
#chorus_fruit{
    grid-area: chorus_fruit;
    align-items: center;
    align-content: center;
    text-align: center;
}



